.input__container-buttons{
    
    padding:1em;
    display:flex;
    justify-content: space-between;    
    button{
        width: 30%;
        height: 2rem;
        border-radius: 10px;
        font-size: .7rem;
        background-color: rgba(211,246,219,1);
    }
    .clear{
        width:100%;
    }
    
    
}
.button-generate{
    button{
        width: 70%;
        height: 3em;;
        // height: 2rem;
        border-radius: 10px;
        font-size: .8rem;
        background-color: rgba(211,246,219,1);
    }
    &__prefix{
        button{
            color: #1f0322;
        }
    }
    &__suffix{
        button{
            color:#1f0322;
        }
        
    }
}