.input__container-display{
    min-height: 3rem;
    text-align:center;
    height: 100%;
    width: 100%;
    font-size:2rem;
    span{
        display:inline-flex;    
        justify-content: center;
        color:#d3f6db;
    }
}
.font-size-75{
    font-size: .85rem;
    justify-content: center;
}