.form-group{
    @include respond-to(handhelds){
        flex-direction: column;
    }
    @include respond-to(medium-screens){
        flex-direction: row;
    }
    
    &-container{
        padding-top:2em;
    }
}