.header{
    font-size: 1rem;
    
    &-container{
        padding: .5em;
        display:flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(146,213,230,1);
        h1{
            font-size: 1.5rem;
        }
    }
}