$break-small: 576px;
$break-med: 768px;
$break-large: 992px;
$break-extra-large: 1200px;

@mixin respond-to($media){
    @if $media == handhelds {
        @media only screen and (min-width: $break-small) and (max-width: $break-med) { @content; }
      }
      @else if $media == medium-screens {
        @media only screen and (min-width: $break-med - 1) and (max-width: $break-large - 1) { @content; }
      }
      @else if $media == large-screens {
        @media only screen and (min-width: $break-large) and(max-width: $break-extra-large - 1){ @content; }
      }
      @else if $media == wide-screens {
        @media only screen and (min-width: $break-extra-large) { @content; }
      }
}
