/* line 1, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/config/_config.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/config/_config.scss */
body {
  background-color: #1f0322;
}

/* line 1, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
form {
  width: 90%;
  margin: 0 auto 50px auto;
}

/* line 4, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
form div {
  width: 100%;
  color: #1f0322;
  background-color: #d3f6db;
  background-color: #92d5e6;
  text-align: center;
  /* Define mobile styles - Mobile First */
}

@media only screen and (max-width: 40em) {
  /* line 4, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
  form div {
    border-radius: 10px;
  }
}

/* line 15, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
form .input__container-checkboxes {
  font-size: 1.2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* line 20, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
form .input__container-checkboxes div {
  max-width: 50%;
  display: flex;
  margin: 1em auto;
}

/* line 31, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
.checkbox input[type="checkbox"] {
  opacity: 0;
}

/* line 35, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
.checkbox label {
  position: relative;
  display: inline-block;
  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 22px;
}

/* line 43, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  /*Needed for the line-height to take effect*/
  display: inline-block;
  margin-left: -1em;
  margin-top: -.3em;
}

/*Outer box of the fake checkbox*/
/* line 55, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
.checkbox label::before {
  height: 16px;
  width: 16px;
  border: 1.5px solid #d3f6db;
  left: 0px;
  /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
  top: 3px;
}

/*Checkmark of the fake checkbox*/
/* line 69, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  color: #1f0322;
  left: 4px;
  top: 7px;
}

/*Hide the checkmark by default*/
/* line 82, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
.checkbox input[type="checkbox"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
/* line 87, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

/* line 97, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
.form-group {
  /* Define mobile styles - Mobile First */
}

@media only screen and (max-width: 40em) {
  /* line 97, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
  .form-group {
    margin: 0 auto;
  }
}

@media screen and (min-device-width: 481px) and (orientation: landscape) {
  /* line 97, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
  .form-group {
    display: flex;
    flex-direction: column;
  }
}

/* line 106, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
.form-group label {
  margin: 2em auto;
}

/* line 109, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
.form-group input {
  margin: .8em auto;
}

/* line 111, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
.form-group input:focus {
  background-color: #d3f6db;
}

/* line 117, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form.scss */
.form-group .input__text {
  border-radius: 7px;
  height: 30px;
  font-size: 1.2rem;
  color: #1f0322;
}

/* line 1, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_buttons.scss */
.input__container-buttons {
  padding: 1em;
  display: flex;
  justify-content: space-around;
}

/* line 6, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_buttons.scss */
.input__container-buttons button {
  width: 30%;
  height: 2rem;
  border-radius: 10px;
  font-size: .7rem;
  background-color: #d3f6db;
}

/* line 14, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_buttons.scss */
.input__container-buttons .clear {
  width: 100%;
}

/* line 17, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_buttons.scss */
.input__container-buttons__generate {
  margin: 0 auto;
  display: block;
  width: 60%;
  height: 2rem;
  border-radius: 10px;
  font-size: .7rem;
  background-color: #d3f6db;
}

/* line 29, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_buttons.scss */
.button-generate button {
  width: 70%;
  height: 3em;
  border-radius: 10px;
  font-size: .8rem;
  background-color: #d3f6db;
}

/* line 38, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_buttons.scss */
.button-generate__prefix button {
  color: #1f0322;
}

/* line 43, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_buttons.scss */
.button-generate__suffix button {
  color: #1f0322;
}

/* line 1, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_display.scss */
.input__container-display {
  min-height: 3rem;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 2rem;
}

/* line 7, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_display.scss */
.input__container-display span {
  display: inline-flex;
  justify-content: center;
  color: #d3f6db;
}

/* line 13, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_display.scss */
.font-size-75 {
  font-size: .85rem;
  justify-content: center;
}

/* line 1, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_header.scss */
.header {
  font-size: 1rem;
}

/* line 4, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_header.scss */
.header-container {
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #92d5e6;
}

/* line 10, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_header.scss */
.header-container h1 {
  font-size: 1.5rem;
}

/* line 9, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_form-group.scss */
.form-group-container {
  padding-top: 2em;
}

/* line 1, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_input-container.scss */
.instructions {
  margin: 1em auto .5em auto;
  text-align: center;
  font-size: 1.4rem;
  color: #92d5e6;
}

/* line 2, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_hyphen.scss */
.hyphen-container {
  align-self: center;
  font-size: inherit;
  transform: scale(1.3);
}

/* line 1, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_footer.scss */
footer {
  background-color: #92d5e6;
}

/* line 3, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_footer.scss */
footer p {
  text-align: center;
  font-size: 1rem;
  width: 80%;
  margin: 0 auto;
}

/* line 1, ../../../../../Users/brianthomas/code/username-generator-REDUX/src/scss/modules/_info.scss */
.info {
  color: #d3f6db;
  width: 50%;
  margin: 1em auto;
}

/*# sourceMappingURL=main.css.map */